html,
body,
footer {
    max-width: 100%;
    overflow-x: hidden;
}

.social {
    font-size: 20px;
}

.img {
    height: 400px;
    width: 480px;
}

.section {
    padding-left: 150px;
    padding-right: 150px;
}

.foodie {
    position: relative;
    left: 40%;
    bottom: 350px;
    font-size: 30px;
}

#fooddelivery {
    height: 450px;
}

#img {
    position: relative;
    left: 900px;
    bottom: 400px;
}

.abt {
    padding-right: 50px;
    width: 800px;
    font-size: 30px;
}

#motoguy {
    background-color: black;
    width: auto;
}

#abt {
    height: 450px;
    padding-left: 150px;
    padding-right: 150px;
}